{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.username }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id: </th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Email: </th>
                <td>{{ user.email }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Bio: </th>
                <td>{{ user.bio }}</td>
            </tr>
            <tr>
                <th>Created: </th>
                <td>{% if user.createdat %}{{ user.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

            {% if app.user == user or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                {% if app.user != user%}
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                {% endif %}
            {% endif %}
    <hr>
    <h3>Recipes</h3>
    {% for recipe in user.recipes %}
       <a href="/recipe/{{ recipe.id }}"><h4>{{ recipe.title }}</h4></a>
    {% endfor %}




{% endblock %}
