{% block body %}
    <div class="row">
        <div class="col-md-12">
            {# TODO: style this #}
            <h1>{{ recipe.title }}</h1>
            Created by: {{ recipe.user }}
            <p>Created: {% if recipe.createdAt %}{{ recipe.createdAt|date('d-m-Y') }}{% endif %}.
                <br>
                Last updated {% if recipe.updatedAt %}{{ recipe.updatedAt|date('d-m-Y') }}{% endif %}</p>
            <hr>
            <h4>Ingredients</h4>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>
                        {{ ingredient.name }}
                    </li>
                {% endfor %}
            </ul>
            <h4>Instructions</h4>
            <p>{{ recipe.instructions|truncate(400, true)}}</p>

        </div>
    </div>

{% endblock %}
